#Python101

In [1]:
#11的51次方
11**51

129129938167664848157333145589394151932880352885953011

In [14]:
#FOR your summation #NA
sum = 0
for i in range(1,7):
    for j in range(1,7):
        for k in range(1,7):
            if (i != j and i!= k and j!=k):
                #print(f"{i}{j}{k}")
                sum = i*100+j*10+k + sum
print(sum)

46620

In [13]:
#IF 潤年
'''
如果除以 4 能整除
如果除以 100 能整除
如果除以 400 能整除，就是閏年
'''
year = int(input())             
if(year%4 == 0):                   
    if(year%100 == 0):              
        if(year%400 == 0):          
            print(f'{year}閏')
        else:
            print(f'{year}平')
    else:
      print(f'{year}閏')
else:
    print(f'{year}平')

2000
2000閏

In [9]:
#IF幸福企業的獎金制度
'''
當利潤(I)低於或等於100萬元時，獎金可提10%；
(2)利潤高於100萬元，低於200萬元時，低於100萬元的部分按10%提成，高於100萬元的部分，可提成7%;
(3)200萬到400萬之間時，高於200萬元的部分，可提成5%；
(4)400萬到600萬之間時高於400萬元的部分，可提成4%；
(5)600萬到1000萬之間時，高於600萬元的部分，可提成2%;
(5)1000萬 以上時，高於1000萬元的部分，可提成1%。
'''
m = int(input())
sum = 0
if(m<=1000000):
    sum = m*0.1
if(m>1000000):
    sum = (m-1000000)*0.07 + 1000000*0.1
if(m>=2000000):
    sum = (m-2000000)*0.05 + 1000000*0.07 + 1000000*0.1
if(m>=4000000):
    sum = (m-4000000)*0.04 + 2000000*0.05 + 1000000*0.07 + 1000000*0.1
if(m>=6000000):
    sum = (m-6000000)*0.02 + 4000000*0.04 + 2000000*0.05 + 1000000*0.07 + 1000000*0.1
if(m>=10000000):
    sum = (m-10000000)*0.01 + 6000000*0.02 + 4000000*0.04 + 2000000*0.05 + 1000000*0.07 + 1000000*0.1
print(sum)

2245678
182283.9

In [6]:
#費氏數列
def f(n):                     
  if n > 1:  
    return f(n-1) + f(n-2)
  return n

n=int(input())
for i in range(n+1):    
    print(f(i),end=" ")

41
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141

In [ ]:
#函數的虛擬碼實作
def XXX(m,n):
    while (m != 0):
        if (n == 0):
             n = 1
        else:
             n = XXX(m, n-1)
        
        m = m - 1
    return n+1

m,n = map(int,input().split())
print(XXX(m,n))

#乘法表

In [11]:
#九九乘法表
for i in range(1,10):
    for j in range(1,10):
        print(f'{i}*{j}={i*j:2}',end=" ")
    print("")

1*1= 1 1*2= 2 1*3= 3 1*4= 4 1*5= 5 1*6= 6 1*7= 7 1*8= 8 1*9= 9
2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [ ]:
#1到N乘法表
n=int(input())
for i in range(1,n+1):
    for j in range(1,10):
        print(f'{i}*{j}={i*j}')

In [ ]:
#N到9乘法表
n=int(input())
for i in range(n,10):
    for j in range(1,10):
        print(f'{i}*{j}={i*j}')